<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div style="width:50%; margin-left:25%;
    ">
        <form action="/empleados/create" method="POST">
            <div class="mb-3">
                <label for="" style="cursor:pointer;" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" style="cursor:cursor;">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Surname</label>
                <input type="text" class="form-control" id="surname" name="surname">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">address</label>
                <input type="text" class="form-control" id="address" name="address">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Birthdate</label>
                <input type="text" class="form-control" id="birthdate" name="birthdate">
            </div>

            <button type="submit" class="btn btn-primary">Crear user</button>
        </form>
    </div>
</body>

</html>